/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.d-flex {
  display: flex;
}

.btn {
  border: 1px solid green;
  padding: 7px;
  position: relative;
  top: 10px;
  border-radius: 6px;
  text-decoration: underline;
}

.btn:hover {
  background-color: green;
  color: white;
}

.request {
  text-align: center;
  width: 200px;
}

.btn-submit {
  width: 200px;
}

.profile-btn {
  border: 1px solid green;
  border-radius: 7px;
  padding: 5px;
}

.profile-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: green;
}

.profile-detail {
  margin-top: 13px;
}

.profile-detail p {
  position: relative;
  top: 5px;
  margin-right: 4px;
}